* {
  margin: 0;
}

img {
  height: 120px;
  width: 120px;
}

.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar-li {
  margin-left: 4px;
}

#FAQ {
  margin-right: 6px;
}

main {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foods {
  background-color: white;
  width: 90%;
  padding: 20px;
  margin: 20px;
}

.birds img {
  margin: 20px;
}

footer {
  background-color: #0072e1;
  height: 20vh;
}

.footer-area {
  display: flex;
  list-style: none;
  color: lightgray;
  justify-content: space-evenly;
}
