* {
  margin: 0;
}

img {
  height: 120px;
  width: 120px;
}

.middle-area {
  background-color: lightgray;
  height: 50vh;
  justify-content: center;
  display: flex;
  text-align: center;
}

footer {
  background-color: gray;
  height: 50vh;
  text-align: center;
  color: white;
}

input {
  padding: 10px;
  border-radius: 6px;
  margin: 4px;
}

button {
  margin: 6px;
  background-color: #0072e1;
  padding: 10px;
  border-radius: 4px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
